<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.testingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity
            android:name=".MainAppActivity"
            android:configChanges="orientation|screenSize"
            android:label="Menu"></activity>
        <activity
            android:name=".FameGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:label="User&apos;s Pictures"
            android:parentActivityName=".MainAppActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainAppActivity" />
        </activity>
        <activity
            android:name=".FameDevGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:label="Dev&apos;s Pictures"
            android:parentActivityName=".MainAppActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainAppActivity" />
        </activity>
    </application>
</manifest>